permalink: /:categories/:year/:month/:day/:title/

exclude: [".rvmrc", "README.md", "Rakefile", "/bin"]

markdown: kramdown
kramdown:
  syntax_highlighter: rouge

title : marcgg#blog
author :
  name : Marc G Gauthier
  email : marcg.gauthier@gmail.com

production_url : https://marcgg.com

collections:
  - books

gems:
  - jekyll-redirect-from

defaults:
  -
    scope:
      path: "_posts"
    values:
      blog: true
      category: blog
      featured: false
      layout: post
