---
layout: page
title : Book Reviews (Leadership, Technology, Startups...)
category: books
description: "Short and to the point book reviews on the topics of leadership, technology, startups, management or self improvement."
ogimage: books.jpg
---

<div id="all-posts">
  <div id="intro_blurb" style="margin-top: 20px;">
    Here is my opinion on what I've been reading.
    If you enjoy my blog posts you might be interested!
    <br />

    Most of these books are also available as audiobook, which I really enjoy.
    If this interests you, most of them are available on
    <a href="https://amzn.to/35RPjpu">Audible FR</a> or
    <a href="https://amzn.to/2R5h6yJ">Audible US</a>.

  </div>


  {% assign sorted = site.books | sort:"score" | reverse | where:"read", true %}

  {% for book in sorted %}
    <div class="single-post master-book-data" data-author="{{book.author}}" data-title="{{ book.title }}" data-link="{{book.link}}" data-linkfr="{{book.linkfr}}" data-linkus="{{book.linkus}}">
      <div class="title">
        <a href="{{book.linkus}}">{{book.title}}</a>
        <div class="author">by {{book.author}}</div>
      </div>

      <p class="description">
        <a href="{{book.linkus}}" class="book-cover-entry">
          <img src="/assets/books/{{book.img}}" alt="{{book.title}} book cover" />
          <br>
          &rarr; <span class="buy-book">Buy this book</span>
        </a>
        {{book.content}}
        <div class="book-rating">
          {% if book.score >= 18 %}
            <span class="top"><span class="icon">✓✓✓</span>Amazing book, everybody should read it</span>
          {% elsif book.score >= 16 %}
            <span class="top"><span class="icon">✓✓</span>A must read</span>
          {% elsif book.score >= 13 %}
            <span class="good"><span class="icon">✓</span>Good read if you enjoy the subject</span>
          {% elsif book.score >= 10 %}
            <span class="medium"><span class="icon">~</span>Interesting book, but don't go out of your way to read it</span>
          {% elsif book.score >= 8 %}
            <span class="low"><span class="icon">×</span>Don't pick it up unless you really like the topic</span>
          {% else %}
            <span class="poor"><span class="icon">××</span>Not really worth checking</span>
          {% endif %}

        </div>
      </p>
    </div>
  {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
