---
layout: page
title : Marc G Gauthier - Book Reviews
category: books
rank: 5
description: "Really quick book reviews on the topics of technologies, startups, management or even self improvement."
---
<div style="display: none;">
  <div id="buy-popin">
    <h3 id="buy-title"></h3>
    <a id="store-us" target="_blank" class="store" href="#">→ 🇺🇸  Get it from Amazon US</a>
    <a id="store-fr" target="_blank" class="store" href="#">→ 🇫🇷  L'obtenir depuis Amazon France</a>
    <a id="store-other" target="_blank" class="store" href="#">→ This book is not available on Amazon. Get it now from this external website.</a>
  </div>
</div>

<div id="all-posts">
  <div id="book-review" style="margin-top: 20px;">
    Here I share my opinion on the non fiction
    I've been reading.
    If you generally enjoy my blog posts
    you might share my view on most of them, but again,
    this is just what I thought and this
    isn't at all an analysis of these books.
  </div>


  {% assign sorted = site.books | sort:"score" | reverse | where:"read", true %}

  {% for book in sorted %}
    <div class="single-post master-book-data" data-author="{{book.author}}" data-title="{{ book.title }}" data-link="{{book.link}}" data-linkfr="{{book.linkfr}}" data-linkus="{{book.linkus}}">
      <div class="title">
        <a href="#" class="buy-popin">{{book.title}}</a>
        <div class="author">by {{book.author}}</div>
      </div>

      <p class="description">
        <a href="#" class="book-cover-entry buy-popin">
          <img src="/assets/books/{{book.img}}" alt="{{book.title}} book cover" />
          <br>
          &rarr; <span class="buy-book">Buy this book</span>
        </a>
        {{book.content}}
        <div class="book-rating">
          {% if book.score >= 18 %}
            <span class="top"><span class="icon">✓✓✓</span>Amazing book, everybody should read it</span>
          {% elsif book.score >= 16 %}
            <span class="top"><span class="icon">✓✓</span>A must read</span>
          {% elsif book.score >= 13 %}
            <span class="good"><span class="icon">✓</span>Good read if you enjoy the subject</span>
          {% elsif book.score >= 10 %}
            <span class="medium"><span class="icon">~</span>Interesting book, but don't go out of your way to read it</span>
          {% elsif book.score >= 8 %}
            <span class="low"><span class="icon">×</span>Don't pick it up unless you really like the topic</span>
          {% else %}
            <span class="poor"><span class="icon">××</span>Not really worth checking</span>
          {% endif %}

        </div>
      </p>
    </div>
  {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/assets/js/featherlight.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/books.js"></script>
<link href="/assets/css/featherlight.css?body=1" rel="stylesheet" type="text/css" media="all">

