<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>4-rules.md</key>
			<dict>
				<key>lastModification</key>
				<real>493467275.50323403</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>84</integer>
				</dict>
			</dict>
			<key>agile-web.md</key>
			<dict>
				<key>lastModification</key>
				<real>493469075.592655</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>agile.md</key>
			<dict>
				<key>lastModification</key>
				<real>493409288.53701597</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>clean-coder.md</key>
			<dict>
				<key>lastModification</key>
				<real>493407489.53522497</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>creativity.md</key>
			<dict>
				<key>lastModification</key>
				<real>495319042.61601698</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>129</integer>
				</dict>
			</dict>
			<key>dataclysm.md</key>
			<dict>
				<key>lastModification</key>
				<real>493411834.53914899</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>deception.md</key>
			<dict>
				<key>lastModification</key>
				<real>495319175.89687401</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>143</integer>
				</dict>
			</dict>
			<key>effective-manager.md</key>
			<dict>
				<key>lastModification</key>
				<real>526130457.50223601</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>172</integer>
				</dict>
			</dict>
			<key>elixir.md</key>
			<dict>
				<key>lastModification</key>
				<real>493413856.46604103</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>56</integer>
				</dict>
			</dict>
			<key>facts.md</key>
			<dict>
				<key>lastModification</key>
				<real>493420135.55734199</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>80</integer>
				</dict>
			</dict>
			<key>herding.md</key>
			<dict>
				<key>lastModification</key>
				<real>493410896.57723403</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>high-output.md</key>
			<dict>
				<key>lastModification</key>
				<real>495319298.91055</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>160</integer>
				</dict>
			</dict>
			<key>holacraty.md</key>
			<dict>
				<key>lastModification</key>
				<real>495319272.37629497</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>154</integer>
				</dict>
			</dict>
			<key>humans.md</key>
			<dict>
				<key>lastModification</key>
				<real>495304727.63237798</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>108</integer>
				</dict>
			</dict>
			<key>machine-learning.md</key>
			<dict>
				<key>lastModification</key>
				<real>493410624.37129498</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>marketers.md</key>
			<dict>
				<key>lastModification</key>
				<real>493412162.600936</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>non-violent.md</key>
			<dict>
				<key>lastModification</key>
				<real>493468103.62987399</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>peopleware.md</key>
			<dict>
				<key>lastModification</key>
				<real>493409792.16992998</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>phoenix-project.md</key>
			<dict>
				<key>lastModification</key>
				<real>493408489.47254097</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>poignant.md</key>
			<dict>
				<key>lastModification</key>
				<real>493469083.73637301</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>poodr.md</key>
			<dict>
				<key>lastModification</key>
				<real>493408185.39959502</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>power.md</key>
			<dict>
				<key>lastModification</key>
				<real>495319966.63712502</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>164</integer>
				</dict>
			</dict>
			<key>pragmatic-programmer.md</key>
			<dict>
				<key>lastModification</key>
				<real>493407489.53522497</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>prize.md</key>
			<dict>
				<key>lastModification</key>
				<real>493418688.03246999</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>76</integer>
				</dict>
			</dict>
			<key>psychology.md</key>
			<dict>
				<key>lastModification</key>
				<real>495318273.53146702</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>112</integer>
				</dict>
			</dict>
			<key>rework.md</key>
			<dict>
				<key>lastModification</key>
				<real>493418091.25838602</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>ruby-patterns.md</key>
			<dict>
				<key>lastModification</key>
				<real>493412609.08227098</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>slide.md</key>
			<dict>
				<key>lastModification</key>
				<real>493418291.07515597</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>70</integer>
				</dict>
			</dict>
			<key>ted.md</key>
			<dict>
				<key>lastModification</key>
				<real>495319183.80948699</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>147</integer>
				</dict>
			</dict>
			<key>text-processing.md</key>
			<dict>
				<key>lastModification</key>
				<real>495319066.26387298</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>133</integer>
				</dict>
			</dict>
			<key>the-advantage.md</key>
			<dict>
				<key>lastModification</key>
				<real>528043945.870709</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>177</integer>
				</dict>
			</dict>
			<key>the-goal.md</key>
			<dict>
				<key>lastModification</key>
				<real>493407502.87887299</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>tipping.md</key>
			<dict>
				<key>lastModification</key>
				<real>506184694.46243203</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>168</integer>
				</dict>
			</dict>
			<key>where-ideas-come-from.md</key>
			<dict>
				<key>lastModification</key>
				<real>493409000.340747</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>who-gets-what.md</key>
			<dict>
				<key>lastModification</key>
				<real>495318981.18469</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>124</integer>
				</dict>
			</dict>
			<key>win-friends.md</key>
			<dict>
				<key>lastModification</key>
				<real>493410263.81111598</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>work-rules.md</key>
			<dict>
				<key>lastModification</key>
				<real>493407489.53522599</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>clean-coder.md</string>
		</array>
		<array>
			<string>pragmatic-programmer.md</string>
		</array>
		<array>
			<string>work-rules.md</string>
		</array>
		<array>
			<string>the-goal.md</string>
		</array>
		<array>
			<string>poodr.md</string>
		</array>
		<array>
			<string>phoenix-project.md</string>
		</array>
		<array>
			<string>where-ideas-come-from.md</string>
		</array>
		<array>
			<string>agile.md</string>
		</array>
		<array>
			<string>peopleware.md</string>
		</array>
		<array>
			<string>win-friends.md</string>
		</array>
		<array>
			<string>machine-learning.md</string>
		</array>
		<array>
			<string>herding.md</string>
		</array>
		<array>
			<string>dataclysm.md</string>
		</array>
		<array>
			<string>marketers.md</string>
		</array>
		<array>
			<string>ruby-patterns.md</string>
		</array>
		<array>
			<string>elixir.md</string>
		</array>
		<array>
			<string>rework.md</string>
		</array>
		<array>
			<string>slide.md</string>
		</array>
		<array>
			<string>prize.md</string>
		</array>
		<array>
			<string>facts.md</string>
		</array>
		<array>
			<string>4-rules.md</string>
		</array>
		<array>
			<string>non-violent.md</string>
		</array>
		<array>
			<string>agile-web.md</string>
		</array>
		<array>
			<string>poignant.md</string>
		</array>
		<array>
			<string>humans.md</string>
		</array>
		<array>
			<string>psychology.md</string>
		</array>
		<array>
			<string>who-gets-what.md</string>
		</array>
		<array>
			<string>creativity.md</string>
		</array>
		<array>
			<string>text-processing.md</string>
		</array>
		<array>
			<string>deception.md</string>
		</array>
		<array>
			<string>ted.md</string>
		</array>
		<array>
			<string>holacraty.md</string>
		</array>
		<array>
			<string>high-output.md</string>
		</array>
		<array>
			<string>power.md</string>
		</array>
		<array>
			<string>tipping.md</string>
		</array>
		<array>
			<string>effective-manager.md</string>
		</array>
		<array>
			<string>the-advantage.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
			<integer>178</integer>
		</dict>
	</dict>
</dict>
</plist>
