body{
  border-top: 5px solid #ed5252;
  font-size: 15px;
  font-family: 'Droid Serif', serif;
  color: #545454;
  line-height: 25px;
}


/* STRUCTURE */

#container{
  border-top: 1px solid #e6e6e6;
}

#content{
  width: 760px;
  margin: auto;
}

/* FOOTER */
footer{
  margin-top: 40px;
  padding: 40px 0px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  font-size: 0.8em;
  color: #858585;
}

footer a{
  color: #5b7f9b;
}

footer a:hover{
  text-decoration: underline;
  color: #157ac6;
}

/* HEADER */

header{
  width: 800px;
  margin: auto;
  height: 80px;
}
#logo{
  width: 87px;
  height: 38px;
  float: left;
  margin-top: 22px;
  background: url(/assets/misc/logo.png) no-repeat;
}
nav{
  padding-top: 25px;
  float: right;
}

nav a{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 20px;
  color: #adadad;
  padding-bottom: 1px;
  font-size: 0.8em;
  font-weight: bold;
}
nav .selected{
  color: #e03e3e;
  border-bottom: 3px solid #e03e3e;
}
nav a:hover{
  text-decoration: none;
  color: #e03e3e;
}


/* TEXT STRUCTURE */

h1, h2, h3, h4, h5{
  font-family: 'Open Sans', sans-serif;
  color: #1c1c1c;
}

h4 a{
  color: #1c1c1c;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a{
  color: #157ac6;
}

p{
  text-align: justify;
  margin-bottom: 20px;
}

.excerpt p{
  margin-bottom: 0px;
}

.footnote, .sidenote{
  margin: 40px 0px;
  color: #858585;
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
}

.image_notes{
  text-align: center;
  color: #858585;
  font-size: 0.9em;
  margin: -5px 0px 15px 0px;
}

h1{
  font-size: 1.85em;
  text-align: center;
  margin: 80px 0px 20px 0px;
  line-height : 1.5em;
}

h1 em{
  color: #888;
  font-weight: normal;
  font-size: 0.8em;
}

h2{
  font-size: 1.65em;
  margin: 15px 0px 25px 0px;
}
h3{
  font-size: 1.35em;
  margin-bottom: 20px;
}
h4{
  font-size: 1.2em;
  margin-bottom: 20px;
  font-style: italic;
}

h5{
  font-size: 1.3em;
  margin-bottom: 20px;
}

h5 *{
  color: #545454;
}

em{
  font-style: italic;
}
strong{
  font-weight: bold;
}

blockquote{
  border-left: 3px solid #ddd;
  color: #888;
  margin: 0px 0px 20px 40px;
  font-style: italic;
}

blockquote p{
  margin: 5px 20px !important;
}


/* BLOG  INDEX */
.single-post{
  margin: 60px 0px 0px 0px;
}

.single-post .date{
  float: left;
  width: 170px;
  text-align: right;
  padding: 2px 20px 0px 0px;
  color: #858585;
  font-size: 0.9em;
}
.single-post .excerpt{
  float: right;
  width: 540px;
  border-left: 1px solid #e6e6e6;
  padding-left: 20px;
}


/* BLOG SHOW */

.post img{
  border: 1px solid #e6e6e6;
  padding: 5px;
  margin: 0px 0px 20px 20px;
}
.post ul{
  padding-left: 40px;
  line-height: 25px;
  list-style: circle;
  margin-bottom: 20px;
}
.post li{
  display: list-item;
}

.published span{
  border-top: 1px solid #e6e6e6;
  display: inline-block;
  color: #858585;
  padding-top: 5px;
}
.published{
  text-align: center;
  margin-bottom: 60px;
}

#more{
  border-top: 1px solid #e6e6e6;
  margin-top: 40px;
  padding: 40px 0px;
}

#more-articles{
  margin-bottom: 40px;
}

/* NEWSLETTER */
#newsletter{
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

#newsletter label{
  display: block;
  text-align: center;
}

#news-cta{
  display: block;
  margin: 20px auto 0px auto;
  text-align: center;
}

#mce-EMAIL{
  padding: 15px 30px;
  border: 1px solid #ed5252;
  width: 300px;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
  box-shadow:none;
  outline: none;
}

#newsletter em{
  font-size: 11px;
  color: #ccc;
  margin-top: 15px;
  display: block;
  text-align: center;
}

#mc-embedded-subscribe{
  border: 1px solid #ed5252;
  background-color: #ed5252;
  color: #fff;
  font-size: 14px;
  font-family: 'Droid Serif', serif;
  padding: 15px 30px;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
  font-weight: bold;
}

#mc-embedded-subscribe:hover{
  background-color: #fff;
  color: #ed5252;
  cursor: pointer;
}

.leave-email{
  color: #ed5252;
}


/* ABOUT PAGE */

#about, #me{
  margin-top: 60px;
}

#about{
  width: 510px;
}

#links{
  float: right;
  width: 200px;
  text-align: center;
}

#links a{
  display: block;
}

#links img{
  border-radius: 50%;
}

.me-wrapper{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

#design-by{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
}

.drivy{
  color: #e92464;
}

/* PHOTOS */
#photo-content{
  width: 1024px;
  margin: auto;
}
#photo-menu{
  text-align: center;
  padding: 40px 0px;
}
#photo-menu a{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin: 0px 5px;
  color: #545454;
}
#photo-menu a:hover{
  text-decoration: none;
  color: #157ac6;
}

#photo-menu .selected{
  font-weight: bold;
  color: #157ac6;
}

#photo-content img{
  display:block;
  margin: 0px auto 40px auto;
  border: 2px solid #333;
}



/* HIRE */

#hire{
  margin-top: 60px;
}

#hire ul{
  padding-left: 40px;
  line-height: 25px;
  list-style: circle;
  margin-bottom: 20px;
}

#hire li{
  display: list-item;
}

.review{
  width: 200px;
  float: left;
  padding: 5px;
  margin: 20px;
}

#reviews{
  margin-bottom: 20px;
}

.person{
  text-align: center;
  font-weight: bold;
}
.position{
  text-align: center;
  font-size: 0.8em;
}
.review-body{
  margin-top: 10px;
  text-align: justify;
}

#references_logo{
  text-align: center;
  margin-bottom: 20px;
}

/* CLEARFIX */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
