<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2011-12-12-developer-from-ssii-to-startup.md</string>
		</array>
		<array>
			<string>2011-12-21-startup-outsourcing.md</string>
		</array>
		<array>
			<string>2012-01-09-start-working-on-your-side-project.md</string>
		</array>
		<array>
			<string>2012-09-4-one-reason-to-switch-to-vim-editor.md</string>
		</array>
		<array>
			<string>2012-10-1-thumb-pain-developer-keyboard.md</string>
		</array>
		<array>
			<string>2012-10-15-dont-accept-brokeness-deal-with-annoyances.md</string>
		</array>
		<array>
			<string>2012-10-22-custom-slider-ios-rubymotion.md</string>
		</array>
		<array>
			<string>2012-11-12-webviews-javascript-ios-rubymotion.md</string>
		</array>
		<array>
			<string>2012-12-10-angelhack-third-place-paris-hackathon.md</string>
		</array>
		<array>
			<string>2012-9-24-working-with-apis-facebook.md</string>
		</array>
		<array>
			<string>2013-01-06-left-tigerlily-job.md</string>
		</array>
		<array>
			<string>2013-01-14-html5-nodejs-websockets-games-learning.md</string>
		</array>
		<array>
			<string>2013-02-04-developers-teach-non-tech-startup.md</string>
		</array>
		<array>
			<string>2013-03-25-please-changelog-open-source.md</string>
		</array>
		<array>
			<string>2013-04-22-what-i-learned-teaching-web.md</string>
		</array>
		<array>
			<string>2013-05-20-track-link-clicks.md</string>
		</array>
		<array>
			<string>2013-06-24-not-proud-to-be-french.md</string>
		</array>
		<array>
			<string>2013-07-09-passer-deuxieme-bac.md</string>
		</array>
		<array>
			<string>2013-08-29-appgyver-steroids-iphone-hybrid-javascript.md</string>
		</array>
		<array>
			<string>2013-10-29-mixing-languages.md</string>
		</array>
		<array>
			<string>2013-11-05-enough-with-the-language-trolls.md</string>
		</array>
		<array>
			<string>2013-11-12-peak-productivity.md</string>
		</array>
		<array>
			<string>2014-05-05-quantified-self-iphone-app-track-mood-day.md</string>
		</array>
		<array>
			<string>2014-04-09-phonegap-steroids-hybrid-native-app-tips.md</string>
		</array>
		<array>
			<string>2014-04-28-frame-based-layout-bad-code.md</string>
		</array>
		<array>
			<string>2014-05-06-quantified-self-iphone-app-track-mood-day.md</string>
		</array>
		<array>
			<string>2014-07-22-in-defense-of-legacy-code.md</string>
		</array>
		<array>
			<string>2014-07-28-company-process-red-tape.md</string>
		</array>
		<array>
			<string>2014-09-17-huboard-kanban-board-github.md</string>
		</array>
		<array>
			<string>2014-10-13-mysql-try-all-indexes-combinations-script.md</string>
		</array>
		<array>
			<string>2014-12-16-coaching-startup-birdly-le-camping.md</string>
		</array>
		<array>
			<string>2015-01-05-css-animations-failing-capybara-specs.md</string>
		</array>
		<array>
			<string>2015-01-22-new-design.md</string>
		</array>
		<array>
			<string>2015-02-02-grace-murray-hopper-technical.md</string>
		</array>
		<array>
			<string>2015-02-26-heroku-deploy-speed.md</string>
		</array>
		<array>
			<string>2015-05-26-ab-testing-in-real-life-google-analytics.md</string>
		</array>
		<array>
			<string>2015-06-04-getting-started-with-elixir-processes.md</string>
		</array>
		<array>
			<string>2015-06-16-code-blocks-ulysses-iii.md</string>
		</array>
		<array>
			<string>2015-07-01-game-of-life-gif.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Notes</string>
</dict>
</plist>
