<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>createMarkedFile</key>
		<real>493490997</real>
		<key>sheetClusters</key>
		<dict>
			<key>2011-12-12-developer-from-ssii-to-startup.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2011-12-21-startup-outsourcing.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2012-01-09-start-working-on-your-side-project.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2012-09-4-one-reason-to-switch-to-vim-editor.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2012-10-1-thumb-pain-developer-keyboard.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2012-10-15-dont-accept-brokeness-deal-with-annoyances.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2012-10-22-custom-slider-ios-rubymotion.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2012-11-12-webviews-javascript-ios-rubymotion.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2012-12-10-angelhack-third-place-paris-hackathon.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2012-9-24-working-with-apis-facebook.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-01-06-left-tigerlily-job.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-01-14-html5-nodejs-websockets-games-learning.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-02-04-developers-teach-non-tech-startup.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-03-25-please-changelog-open-source.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-04-22-what-i-learned-teaching-web.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-05-20-track-link-clicks.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-06-24-not-proud-to-be-french.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-07-09-passer-deuxieme-bac.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-08-29-appgyver-steroids-iphone-hybrid-javascript.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-10-29-mixing-languages.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-11-05-enough-with-the-language-trolls.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2013-11-12-peak-productivity.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2014-04-09-phonegap-steroids-hybrid-native-app-tips.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2014-04-28-frame-based-layout-bad-code.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2014-05-06-quantified-self-iphone-app-track-mood-day.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2014-07-22-in-defense-of-legacy-code.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2014-07-28-company-process-red-tape.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2014-09-17-huboard-kanban-board-github.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2014-10-13-mysql-try-all-indexes-combinations-script.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2014-12-16-coaching-startup-birdly-le-camping.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-01-05-css-animations-failing-capybara-specs.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-01-22-new-design.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-02-02-grace-murray-hopper-technical.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-02-26-heroku-deploy-speed.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-05-26-ab-testing-in-real-life-google-analytics.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-06-04-getting-started-with-elixir-processes.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-07-01-game-of-life-gif.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-08-04-git-first-parent-log.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-08-27-deadlines-estimates-software-startup.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-09-30-automate-repetitive-tasks.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-10-18-git-checkout-minus.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2015-11-03-code-coverage-vanity-metric.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-02-15-rspec-on-multiple-rails-projects.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-02-22-git-flow-heroku-pipelines.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-03-01-vimrc-example.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-03-14-birdly-ycombinator.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-03-14-github-pages-jekyll.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-04-25-git-multiple-remotes.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-05-09-rails-app-engine.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-07-04-monitoring-bugs.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-08-02-developer-resume.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-08-22-csrf-rails.md</key>
			<dict>
				<key>lastModification</key>
				<real>493490997</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-10-03-job-interview-time.md</key>
			<dict>
				<key>lastModification</key>
				<real>497120147.93945801</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>2016-10-17-kitchenless-restaurant.md</key>
			<dict>
				<key>lastModification</key>
				<real>498314427.915286</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>2016-11-01-javascript-audio.md</key>
			<dict>
				<key>lastModification</key>
				<real>499691218.52627498</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>2016-11-21-chiptune-sequencer-multiplayer.md</key>
			<dict>
				<key>lastModification</key>
				<real>501344878.615762</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>2017-01-22-job-interview-questions.md</key>
			<dict>
				<key>lastModification</key>
				<real>506711179.31755698</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>2017-01-23-ruby-to-s-to-str.md</key>
			<dict>
				<key>lastModification</key>
				<real>506721415.48224902</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>63</integer>
				</dict>
			</dict>
			<key>2017-03-13-mysql-viewport-gis.md</key>
			<dict>
				<key>lastModification</key>
				<real>511022367.382195</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>2017-06-30-recruitment-process.md</key>
			<dict>
				<key>lastModification</key>
				<real>522435030.75128698</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>2017-08-20-blogging-about-management.md</key>
			<dict>
				<key>lastModification</key>
				<real>525039779.69424099</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>78</integer>
				</dict>
			</dict>
			<key>2017-08-22-starting-with-management.md</key>
			<dict>
				<key>lastModification</key>
				<real>525039779.69424897</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>78</integer>
				</dict>
			</dict>
			<key>2017-09-04-manager-you-want.md</key>
			<dict>
				<key>lastModification</key>
				<real>526129036.859083</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>2017-09-27-continous-integration.md</key>
			<dict>
				<key>lastModification</key>
				<real>529164907.695566</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>2017-10-09-paper-note-taking-meetings.md</key>
			<dict>
				<key>lastModification</key>
				<real>529175232.09826398</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>97</integer>
				</dict>
			</dict>
			<key>2018-02-18-todo-list-notebook-system.md</key>
			<dict>
				<key>lastModification</key>
				<real>540664869.42327905</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>107</integer>
				</dict>
			</dict>
			<key>2018-03-18-software-quality-focus.md</key>
			<dict>
				<key>lastModification</key>
				<real>543094591.39228296</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>153</integer>
				</dict>
			</dict>
			<key>2018-03-20-splitting-releases.md</key>
			<dict>
				<key>lastModification</key>
				<real>543089158.88241506</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>146</integer>
				</dict>
			</dict>
			<key>2018-04-02-simplify-git-flow.md</key>
			<dict>
				<key>lastModification</key>
				<real>544386963.577806</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>169</integer>
				</dict>
			</dict>
			<key>2018-04-03-desk-monitor-stand.md</key>
			<dict>
				<key>lastModification</key>
				<real>550330220.97952294</real>
				<key>version</key>
				<dict>
					<key>22b37cbde41d031e41bbecbb31feac74cbe4c52f970ca6de54f65b5a987618fe</key>
					<integer>7</integer>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>187</integer>
				</dict>
			</dict>
			<key>2018-05-15-expressing-intent-comments-ruby.md</key>
			<dict>
				<key>lastModification</key>
				<real>550330223.61738801</real>
				<key>version</key>
				<dict>
					<key>22b37cbde41d031e41bbecbb31feac74cbe4c52f970ca6de54f65b5a987618fe</key>
					<integer>7</integer>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>189</integer>
				</dict>
			</dict>
			<key>2018-06-11-git-commit-all-the-time.md</key>
			<dict>
				<key>lastModification</key>
				<real>550332700.43906999</real>
				<key>version</key>
				<dict>
					<key>22b37cbde41d031e41bbecbb31feac74cbe4c52f970ca6de54f65b5a987618fe</key>
					<integer>15</integer>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>202</integer>
				</dict>
			</dict>
			<key>2018-10-22-regression-testing-for-data-ruby.md</key>
			<dict>
				<key>lastModification</key>
				<real>561650412.58456695</real>
				<key>version</key>
				<dict>
					<key>22b37cbde41d031e41bbecbb31feac74cbe4c52f970ca6de54f65b5a987618fe</key>
					<integer>17</integer>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>211</integer>
				</dict>
			</dict>
			<key>2019-02-04-management-feedback-loop.md</key>
			<dict>
				<key>lastModification</key>
				<real>570727734.39940906</real>
				<key>version</key>
				<dict>
					<key>22b37cbde41d031e41bbecbb31feac74cbe4c52f970ca6de54f65b5a987618fe</key>
					<integer>32</integer>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>211</integer>
				</dict>
			</dict>
			<key>2019-02-10-dont.md</key>
			<dict>
				<key>lastModification</key>
				<real>570720519.62826002</real>
				<key>version</key>
				<dict>
					<key>22b37cbde41d031e41bbecbb31feac74cbe4c52f970ca6de54f65b5a987618fe</key>
					<integer>30</integer>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>211</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>493490997</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2011-12-12-developer-from-ssii-to-startup.md</string>
		</array>
		<array>
			<string>2011-12-21-startup-outsourcing.md</string>
		</array>
		<array>
			<string>2012-01-09-start-working-on-your-side-project.md</string>
		</array>
		<array>
			<string>2012-09-4-one-reason-to-switch-to-vim-editor.md</string>
		</array>
		<array>
			<string>2012-10-1-thumb-pain-developer-keyboard.md</string>
		</array>
		<array>
			<string>2012-10-15-dont-accept-brokeness-deal-with-annoyances.md</string>
		</array>
		<array>
			<string>2012-10-22-custom-slider-ios-rubymotion.md</string>
		</array>
		<array>
			<string>2012-11-12-webviews-javascript-ios-rubymotion.md</string>
		</array>
		<array>
			<string>2012-12-10-angelhack-third-place-paris-hackathon.md</string>
		</array>
		<array>
			<string>2012-9-24-working-with-apis-facebook.md</string>
		</array>
		<array>
			<string>2013-01-06-left-tigerlily-job.md</string>
		</array>
		<array>
			<string>2013-01-14-html5-nodejs-websockets-games-learning.md</string>
		</array>
		<array>
			<string>2013-02-04-developers-teach-non-tech-startup.md</string>
		</array>
		<array>
			<string>2013-03-25-please-changelog-open-source.md</string>
		</array>
		<array>
			<string>2013-04-22-what-i-learned-teaching-web.md</string>
		</array>
		<array>
			<string>2013-05-20-track-link-clicks.md</string>
		</array>
		<array>
			<string>2013-06-24-not-proud-to-be-french.md</string>
		</array>
		<array>
			<string>2013-07-09-passer-deuxieme-bac.md</string>
		</array>
		<array>
			<string>2013-08-29-appgyver-steroids-iphone-hybrid-javascript.md</string>
		</array>
		<array>
			<string>2013-10-29-mixing-languages.md</string>
		</array>
		<array>
			<string>2013-11-05-enough-with-the-language-trolls.md</string>
		</array>
		<array>
			<string>2013-11-12-peak-productivity.md</string>
		</array>
		<array>
			<string>2014-04-09-phonegap-steroids-hybrid-native-app-tips.md</string>
		</array>
		<array>
			<string>2014-04-28-frame-based-layout-bad-code.md</string>
		</array>
		<array>
			<string>2014-05-06-quantified-self-iphone-app-track-mood-day.md</string>
		</array>
		<array>
			<string>2014-07-22-in-defense-of-legacy-code.md</string>
		</array>
		<array>
			<string>2014-07-28-company-process-red-tape.md</string>
		</array>
		<array>
			<string>2014-09-17-huboard-kanban-board-github.md</string>
		</array>
		<array>
			<string>2014-10-13-mysql-try-all-indexes-combinations-script.md</string>
		</array>
		<array>
			<string>2014-12-16-coaching-startup-birdly-le-camping.md</string>
		</array>
		<array>
			<string>2015-01-05-css-animations-failing-capybara-specs.md</string>
		</array>
		<array>
			<string>2015-01-22-new-design.md</string>
		</array>
		<array>
			<string>2015-02-02-grace-murray-hopper-technical.md</string>
		</array>
		<array>
			<string>2015-02-26-heroku-deploy-speed.md</string>
		</array>
		<array>
			<string>2015-05-26-ab-testing-in-real-life-google-analytics.md</string>
		</array>
		<array>
			<string>2015-06-04-getting-started-with-elixir-processes.md</string>
		</array>
		<array>
			<string>2015-07-01-game-of-life-gif.md</string>
		</array>
		<array>
			<string>2015-08-04-git-first-parent-log.md</string>
		</array>
		<array>
			<string>2015-08-27-deadlines-estimates-software-startup.md</string>
		</array>
		<array>
			<string>2015-09-30-automate-repetitive-tasks.md</string>
		</array>
		<array>
			<string>2015-10-18-git-checkout-minus.md</string>
		</array>
		<array>
			<string>2015-11-03-code-coverage-vanity-metric.md</string>
		</array>
		<array>
			<string>2016-02-15-rspec-on-multiple-rails-projects.md</string>
		</array>
		<array>
			<string>2016-02-22-git-flow-heroku-pipelines.md</string>
		</array>
		<array>
			<string>2016-03-01-vimrc-example.md</string>
		</array>
		<array>
			<string>2016-03-14-birdly-ycombinator.md</string>
		</array>
		<array>
			<string>2016-03-14-github-pages-jekyll.md</string>
		</array>
		<array>
			<string>2016-04-25-git-multiple-remotes.md</string>
		</array>
		<array>
			<string>2016-05-09-rails-app-engine.md</string>
		</array>
		<array>
			<string>2016-07-04-monitoring-bugs.md</string>
		</array>
		<array>
			<string>2016-08-02-developer-resume.md</string>
		</array>
		<array>
			<string>2016-08-22-csrf-rails.md</string>
		</array>
		<array>
			<string>2016-10-03-job-interview-time.md</string>
		</array>
		<array>
			<string>2016-10-17-kitchenless-restaurant.md</string>
		</array>
		<array>
			<string>2016-11-01-javascript-audio.md</string>
		</array>
		<array>
			<string>2016-11-21-chiptune-sequencer-multiplayer.md</string>
		</array>
		<array>
			<string>2017-01-22-job-interview-questions.md</string>
		</array>
		<array>
			<string>2017-01-23-ruby-to-s-to-str.md</string>
		</array>
		<array>
			<string>2017-03-13-mysql-viewport-gis.md</string>
		</array>
		<array>
			<string>2017-06-30-recruitment-process.md</string>
		</array>
		<array>
			<string>2017-08-20-blogging-about-management.md</string>
		</array>
		<array>
			<string>2017-08-22-starting-with-management.md</string>
		</array>
		<array>
			<string>2017-09-04-manager-you-want.md</string>
		</array>
		<array>
			<string>2017-09-27-continous-integration.md</string>
		</array>
		<array>
			<string>2017-10-09-paper-note-taking-meetings.md</string>
		</array>
		<array>
			<string>2018-02-18-todo-list-notebook-system.md</string>
		</array>
		<array>
			<string>2018-03-18-software-quality-focus.md</string>
		</array>
		<array>
			<string>2018-03-20-splitting-releases.md</string>
		</array>
		<array>
			<string>2018-04-02-simplify-git-flow.md</string>
		</array>
		<array>
			<string>2018-04-03-desk-monitor-stand.md</string>
		</array>
		<array>
			<string>2018-05-15-expressing-intent-comments-ruby.md</string>
		</array>
		<array>
			<string>2018-06-11-git-commit-all-the-time.md</string>
		</array>
		<array>
			<string>2018-10-22-regression-testing-for-data-ruby.md</string>
		</array>
		<array>
			<string>2019-02-04-management-feedback-loop.md</string>
		</array>
		<array>
			<string>2019-02-10-dont.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Notes</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
			<integer>3</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
			<integer>8</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>22b37cbde41d031e41bbecbb31feac74cbe4c52f970ca6de54f65b5a987618fe</key>
			<integer>33</integer>
			<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
			<integer>211</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
