---
layout: page
title : Marcgg#Blog - Thoughts on software development, startups and the process of making things happen.
---
{% include JB/setup %}

<h1><span>Marcgg#Blog</span></h1>

<div id="all-posts">
  {% for post in site.posts %}
  <div class="single-post">
    <h3>
      <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
      <span>({{ post.date | date: "%B %e, %Y" }})</span>
    </h3>

    <div class="tags">
      {% for tag in post.tags %}
      <a class="tag tag-{{tag}}" href="#" data-tag="{{tag}}">{{ tag }}</a>
      {% endfor %}
    </div>

    <p class="description">
      {{ post.description }}
    </p>
  </div>
  {% endfor %}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script language="javascript">
  $(function(){
    var selected = location.search.replace('?tag=','');
    if(selected != ""){ selectTag(selected) }

    $(".tag").click(function(e){
      e.preventDefault()
      var $this = $(this)
      var tag = $this.data("tag")
      if(!$this.hasClass("selected")){
        selectTag(tag)
      } else {
        unSelectedTag()
      }
    })

    $(document).keyup(function(e) {
      if (e.keyCode == 27){ unSelectedTag() }
    })
  })

  function selectTag(tag){
    $(".selected").removeClass("selected")
    $(".single-post").addClass("unselected")
    $(".tag-" + tag).addClass("selected")
    $(".tag-" + tag).parents(".single-post").addClass("selected").removeClass("unselected")
    history.pushState({}, null, '?tag=' + tag)
  }

  function unSelectedTag(){
    $(".selected").removeClass("selected")
    $(".unselected").removeClass("unselected")
    history.pushState({}, null, '?')
  }

</script>
