---
layout: page
title: "@marcgg - Status / Microblogging"
category: status
---

<div id="all-posts">
  <div id="intro_blurb" style="margin-top: 20px;">
    I've decided to move all my microblogging content to my own site, mainly to
    have a better control over how it's displayed and not depend on an external platform
    like <strike>Twitter</strike> X.
  </div>

  {% assign allStatus = site.status | sort: 'date' | reverse %}

  {% for status in allStatus %}
    {% unless status.isReply %}
    <div class="status">
      <div class="status_text_content">
        {{ status.content }}
      </div>

      {% if status.media %}
        <div class="status_images">
          <img src="{{ status.media }}" alt='Image for this status' />
        </div>
      {% endif %}

      <div class="status_date">
        <a href="{{ status.url }}">
          {{ status.date | date: "%H:%M · %-d %B %Y" }}
        </a>
      </div>
    </div>
    {% endunless %}
  {% endfor %}
</div>
