---
layout: page
title : Startup advisor in Paris | Marc G Gauthier
category: hire
description: "You're looking for a startup advisor in Paris or remotely? Hire me for long term coaching you or to help you and your team get through a complicated situation."
---

<h1>Want To Work With Me?</h1>
<div class="published">
  <span>Great news, keep reading!</span>
</div>

<div id="container">
  <div id="content">
    <div id="hire">
      <p>
        I've been building software for more than 15 years in startups & scale ups,
        including Back Market, Drivy and Getaround. I've been through the early phases
        many times, hired many engineers, designed organisation, managed through acquisitions,
        built strategies and more.
      </p>
      <p>
        If you feel like:
      </p>
      <ul>
        <li>your project is slowing down or not moving fast enough</li>
        <li>your team organisation is not fitting your scale</li>
        <li>your managers are struggling with their new role</li>
        <li>you encounter conflicts withing your leadership team</li>
        <li>you lack visibility over what is going on in your engineering team</li>
        <li>you struggle with your role as leader</li>
        <li>you are not meeting objectives and deadlines</li>
      </ul>

      <p>
        Then I can help you by:
      </p>
      <ul>
        <li>
          <strong>Coaching you or your team to create or scale a product.</strong>
          If you are struggling with a particular point in your software
          production, be it work organization, vision, focus or something more
          technical, it can slow down your delivery. I can help you get over
          some roadblocks and move faster.
        </li>

        <li>
          <strong>Audit and help you build your software engineering processes.</strong>
          Once you've built your MVP, it's important to you keep moving fast, deliver on time
          and don't introduce bugs. A strong engineering culture alongside simple
          yet effective processes can go a long way.
        </li>

        <li>
          <strong>Helping you recruit developers or find your CTO.</strong>
          I'll be able to give you an external and technical
          point of view on any candidate you might want to hire.
        </li>

        <li>
          <strong>Work with you on how reorganising or scaling your team.</strong>
          It's hard to figure out what is the best setup for a given team.
          You probably heard of squads, tribes, agile team, impact teams... I can
          help you gain more clarity over what would work in your organisation.
        </li>

        <li>
          <strong>Facilitate workshops or discussions.</strong>
          You want to brainstorm a new concept, raly your team behind an idea or maybe build a long
          term vision. I can help you by helping you setup a successful workshop with your team.
        </li>
      </ul>

      <h2>Reviews & Recommendations</h2>

      {% include reviews.html %}

      <h2>Highlighted Projects</h2>

      {% for mission in site.data.missions %}
        <div class="mission">
          <img src="/assets/logos/{{mission.logo}}.jpg" alt="Mission with {{mission.client}}"/>
          <p>
            <strong>{{mission.type}} for {{ mission.client }}</strong>
            <br />
            {{ mission.description }}
          </p>
        </div>
      {% endfor %}

      <p>
        Here's a quick overview of other organizations I worked with.
      </p>

      <div id="references_logo" class="clearfix">
        {% for logo in site.data.logos %}
          <img src="/assets/logos/{{ logo.name }}.jpg" class="minor"/>
        {% endfor %}
      </div>

      <h2>Working Together</h2>
      <p>
        The process might differ depending on the situation, but in most cases here is what a collaboration would look like:
      </p>
      <ul>
        <li>We have a <strong>first free initial call</strong> or we meet over coffee if you're in Paris. The goal will be for me to better understand your needs, and for you to get a sense of if I am be the right person for the job. At the end of this we decide to work together or not.</li>

        <li>We plan <strong>a few meetings (remotely or in person) to work on a given topic</strong> defined during the initial meeting. It can be  anything from a few hours to a couple of days. I like to have dense meetings and time appart so that you can try out ideas, read materials or talk to your team.</li>

        <li>Based on the result of these initial meetings, we either <strong>keep going</strong> with a recurring coaching session, a longer form workshop, a meeting with other people from your company... or we decide to <strong>stop there</strong> for the time being.</li>

      </ul>
      <p>
        I like to get into long term relationships with my clients, so it's not unusual to have coaching sessions for a few weeks, then nothing for a few months, and then get back in touch to work on a new topic that appeared. In a lot of cases we gain can just pick the conversation up where we left it.
      </p>
      <p>
        My goal is always to solve your problem as fast as possible by giving you lots of ideas, references and advices so that you can move forward on your own. If at any point I feel I'm not relevant for your current problem I'll tell you so and we'll pause the coaching.
      </p>


      <h2>Contacting Me</h2>
      <p>
        To contact me, you can send me an email with your project at
        <strong>marcg.gauthier -at- gmail -dot- com</strong> or via <a href="https://www.linkedin.com/in/marcggauthier/">Linkedin</a>.
      </p>
      <p>
        From there, we'll plan a first free call so that I
        better understand what I could help you with, and then we can decide to work together or not.
        Note I often work remotely, but if you prefer meeting in person, I'm localized in Paris... so that's where I'll be!
      </p>

    </div>
  </div>
</div>

<link href="/assets/css/hire.css?body=1" rel="stylesheet" type="text/css" media="all">
