body{
  font-size: 16px;
  background: url("/assets/bg.gif");
  color: #dfdfdf;
}

#content{
  width: 550px;
  margin: 10px auto;
}

h1{
  font-family: "Museo700";
  font-size: 3em;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
  margin: 20px 0px;
}

h2{
  font-family: "Museo500";
  font-size: 1.2em;
  margin: 20px 0px 10px 0px;
}

p, footer{
  font-family: "Museo100";
  margin: 10px 0px;
  line-height: 1.3em;
  text-align: justify;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.tigerlily{ color: #FE7D2A; }
.analog{ color: #4f82b7; }
.live{ color: #e2383f; }
.upsud{ color: #92B938; }
.fiu{ color: #C69B19; }
.altran{ color:#315CB1; }
.sagem{ color: #9F0; }
.ffocused{ color: #70BEFB; }
.github{ color: #aaa; }
.rails{ color: #981A21; }
.couchsurfing{ color: #F88E11; }
.twitter{ color: #42d0ff; }
.linkedin{ color: #045A8B; }
.lol{ color: #aaa; }
.teamshack{ color: #4f82b7; }

#photos{
  .photo{
    border: 1px solid #333;
    margin: 10px 0px;
    line-height: 0px;
    img{
      width: 100%;
    }
  }
}

footer{
  display: block;
  margin: 10px 0px 60px 0px;
}
