<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{ page.title }}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/app.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="/atom.xml" rel="alternate" type="application/atom+xml" title="Marcgg#Blog">
    <link rel="shortcut icon" href="/assets/favicon.png">
  </head>

  <body>
    <header>

      <div id="logo">
        <div id="more-nav">
          &rarr; <a href="/blog" class="{% if page.category == 'blog'%}selected{% endif %}">blog</a>
          &rarr; <a href="/photos" class="{% if page.category == 'photos'%}selected{% endif %}">photos</a>
          &rarr; <a href="/hire" class="{% if page.category == 'hire'%}selected{% endif %}">hire me</a>
        </div>
        <a id='logo1' href="/">marcgg</a>
        <span id='logo2'>#</span>
        <a id='logo3' href="/{{page.category}}">
          {{page.category}}
        </a>
      </div>
    </header>

    {% if page.category == 'photos' %}
      <div id="photo-container">
        <div id="container">
          <div id="photo-menu">
            <a href="/photos/" class="{% if page.photos == 'favorites' %} selected {% endif %}">Favorites</a>
            <a href="/photos/traveling.html" class="{% if page.photos == 'traveling' %} selected {% endif %}">Traveling</a>
            <a href="/photos/people.html" class="{% if page.photos == 'people' %} selected {% endif %}">People</a>
            <a href="/photos/iceland.html" class="{% if page.photos == 'iceland' %} selected {% endif %}">Iceland</a>
            <a href="/photos/street_art.html" class="{% if page.photos == 'street_art' %} selected {% endif %}">Street Art</a>
            <a href="/photos/tigerlily.html" class="{% if page.photos == 'tigerlily' %} selected {% endif %}">Tigerlily</a>
            <a href="/photos/bastille.html" class="{% if page.photos == 'bastille' %} selected {% endif %}">Bastille</a>
            <a href="/photos/nyc.html" class="{% if page.photos == 'nyc' %} selected {% endif %}">NYC</a>
            <a href="/photos/1984.html" class="{% if page.photos == 1984 %} selected {% endif %}">1984</a>
            <a href="/photos/random.html" class="{% if page.photos == 'random' %} selected {% endif %}">Random</a>
            <a href="/photos/sarajevo.html" class="{% if page.photos == 'sarajevo' %} selected {% endif %}">Sarajevo</a>
            <a href="/photos/in_motion.html" class="{% if page.photos == 'in_motion' %} selected {% endif %}">In Motion</a>
            <a href="/photos/disposable_camera.html" class="{% if page.photos == 'disposable_camera' %} selected {% endif %}">Disposable Camera</a>
          </div>
        </div>
        <div id="photo-content">{{ content }}</div>
      </div>
    {% else %}
      {{ content }}
    {% endif %}

    <footer>
      Website powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>, hosted on
      <a href="https://github.com/marcgg/marcgg.github.com">Github</a>
      and put together by <a href="http://twitter.com/marcgg">@marcgg</a>
      <br />
      All of the <a href="/blog">blog's articles</a> are under
      <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative commons</a> license
      unless stated otherwise. Everything else is &copy;.
    </footer>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31071519-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
