---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.seotitle %}
        {{ page.seotitle }}
      {% else %}
        {% if page.category == 'status'%}
          @marcgg - Status / Microblogging
        {% else %}
          {{ page.title }}
        {% endif %}

      {% endif %}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta content='user-scalable=no, width=device-width, initial-scale=1.0' name='viewport'>
    <meta name="google-site-verification" content="x2EpQdOMz-k9fP8hak9I3COaXhnQ4jNLp2GU4GYQ8jM" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@marcgg">
    <meta name="twitter:creator" content="@marcgg">

    {% if page.category == 'status'%}
      <meta name="twitter:title" content="@marcgg - Status / Microblogging">
      <meta name="twitter:description" content="{{ page.content | markdownify | strip_html }}">

    {% else %}
      {{ page.title }}
      <meta name="twitter:title" content="{{ page.title }}">
      {% if page.description %}
        <meta name="twitter:description" content="{{ page.description }}">
      {% endif %}
    {% endif %}



    {% if page.ogimage %}
      <meta name="twitter:image" content="https://marcgg.com/assets/misc/{{page.ogimage}}" />
      <meta name="image" property="og:image" content="https://marcgg.com/assets/misc/{{page.ogimage}}" />
    {% else %}
      {% if page.collection == "posts" %}
        {% capture twitter_image %}{{ page.path | replace: ".md", ".jpg" | replace: "_posts/", "" }}{% endcapture %}
        <meta name="twitter:image" content="https://marcgg.com/assets/previews/{{twitter_image}}" />
        <meta name="image" property="og:image" content="https://marcgg.com/assets/previews/{{twitter_image}}" />
      {% endif %}

      {% if page.collection == "status" %}
        <meta name="twitter:image" content="https://marcgg.com/assets/status/social.jpg" />
        <meta name="image" property="og:image" content="https://marcgg.com/assets/status/social.jpg" />
      {% endif %}
    {% endif %}

    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Open+Sans:300italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
    <link href="/atom/blog.xml" rel="alternate" type="application/atom+xml" title="marcgg#blog">
    <link href="/atom/status.xml" rel="alternate" type="application/atom+xml" title="marcgg#status">
    <link rel="shortcut icon" href="/assets/favicon.png">
    <style type="text/css">
      {% include reset.css %}
      {% include website.css %}
    </style>
  </head>

  <body>

    <div id="gradient"></div>
    <header>

      <div id="logo">
        <a id='logo1' href="/">marcgg</a>
        <span id='logo2'>#</span>
        <a id='logo3' href="/{% if page.category != 'about'%}{% if page.category != 'README'%}{{page.category}}/{% endif %}{% endif %}">
          {{page.category}}
        </a>
      </div>
      <div id="more-nav">
        &rarr; <a href="/blog/" class="{% if page.category == 'blog'%}selected{% endif %}">blog</a>
        &rarr; <a href="/status/" class="{% if page.category == 'status'%}selected{% endif %}">status</a>
        &rarr; <a href="/books/" class="{% if page.category == 'books'%}selected{% endif %}">books</a>
        &rarr; <a href="/hire/" class="{% if page.category == 'hire'%}selected{% endif %}">hire me</a>
      </div>
    </header>

    {{ content }}

    <footer>
      <div>Website powered by <a href="https://github.com/jekyll/jekyll">Jekyll</a>, hosted on
      <a href="https://github.com/marcgg/marcgg.github.com">Github</a>.
      <br>
      All of the <a href="/blog">blog's articles</a>,
        <a href="/status">status</a>
        and site content in general is under
      Copyright &copy;.
      <br>
      If you want to use this content, please contact me.</div>
    </footer>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31071519-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
