---
layout: default
---
<div id="container">
  <div id="content">

    <div class="status">
      <div class="status_text_content">
        {{ content }}
      </div>

      {% if status.media %}
        <div class="status_images">
          <img src="{{ page.media }}" />
        </div>
      {% endif %}

      <div class="status_date">
        <a href="{{ page.url }}">
          {{ page.date | date: "%H:%M · %-d %B %Y" }}
        </a>
        ·
        <a href='{{ page.originalUrl }}'>on Twitter</a>
      </div>
    </div>

  </div>
</div>
