!!!
%html{:lang => 'fr', "xml:lang" => 'en', :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    = stylesheet_link_tag "application.css"
    %meta{:name => 'description', :content => "Marc's portfolio, a web developer specialized in Ruby on Rails."}
    %link{:href => '/favicon.ico', :rel => 'icon', :type => 'image/x-ico'}
    %title Marc G Gauthier, Web Developer

  %body
    = yield

